{% load static %}
<nav class="navbar">
  <a href="{% url 'accueil' %}" class="navbar-logo">
    <img src="{% static 'img/logo-transparent.png' %}" alt="Badju's Records" class="navbar-logo-img">
  </a>

  <ul class="navbar-links">
    <li><a href="{% url 'accueil' %}">Accueil</a></li>
    <li><a href="{% url 'top100' %}">Top 100</a></li>
    <li><a href="{% url 'badju_tv' %}">Badju TV</a></li>
    <li><a href="{% url 'liste_artistes' %}">Artistes</a></li>
  </ul>

  <div class="navbar-auth">
    <div class="navbar-user">
      {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="avatar" class="navbar-avatar" />
      {% else %}
      <div class="navbar-avatar-placeholder">
        {{ user.username|first|upper }}
      </div>
      {% endif %}
      <div class="navbar-dropdown">
        <span class="navbar-username">{{ user.username }}</span>
        <ul class="dropdown-menu">
          <li><a href="{% url 'mon_espace' %}">👤 Mon Espace</a></li>
          <li><a href="{% url 'mon_espace' %}#telechargements">⬇ Mes Téléchargements</a></li>
          <li><a href="{% url 'modifier_profil' %}">✏️ Modifier profil</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="{% url 'devenir_artiste' %}">🎤 Devenir Artiste</a></li>
          <li class="dropdown-divider"></li>
          <li>
            <a href="{% url 'deconnexion' %}" class="dropdown-logout">🚪 Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>